<table class="table table-hover table-sm">
  <thead class="thead-light">
    <tr>
	  <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">G</th>
      <th scope="col">W</th>
      <th scope="col">D</th>
      <th scope="col">L</th>
	  <th scope="col">GS</th>
	  <th scope="col">GC</th>
	  <th scope="col">P</th>
    </tr>
  </thead>
  <tbody>
	<% stage.sorted_teams.each_with_index do |t, i| %>
	  <tr>
	  	<td class="<%= 'table-success' if i < 4 %>"><%= i+1 %></td>
	    <td><%= t.title %></td>
	    <td><%= t.group_games_played %></td>
	    <td><%= t.group_games_won %></td>
	    <td><%= t.group_games_draw %></td>
	    <td><%= t.group_games_lost %></td>
	    <td><%= t.group_goals_scored %></td>
	    <td><%= t.group_goals_conceded %></td>
	    <td><%= t.group_points %></td>
	  </tr>
	<% end %>
  </tbody>
</table>